.success__container {
  top: 10%;
  width: 100%;
  left: 0px;
  position: fixed;
  z-index: 2;
  transition: var(--main-transition);
  animation: successOut 2s forwards;
  border: none;
}
.success__content {
  width: 90%;
  margin: auto;
  color: var(--gray-4);
  letter-spacing: 1.2px;
  background-color: var(--gray-3);
  box-shadow: var(--light-shadow);
}
.success__upper {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--gray-1);
  padding-bottom: 10px;
}
.success__upper p {
  font-size: 18px;
  margin: 0 7px;
  text-transform: capitalize;
}
.close__btn {
  color: var(--snubes-red);
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
  margin-right: 5px;
}
.close__btn:hover {
  opacity: 0.8;
}
.contact {
  color: var(--gray-1);
  padding: 10px;
}
.contact strong {
  font-size: 18px;
}
.contact p {
  font-size: 16px;
}
@keyframes successOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    font-size: 12px;
    opacity: 1;
  }
}
/* tablet*/
@media screen and (min-width: 768px) {
  .success__container {
    width: 50%;
  }
  .success__content {
    width: 80%;
  }
}
/*above tablet*/
@media screen and (min-width: 992px) {
  .success__container {
    width: 50%;
  }
  .success__content {
    width: 70%;
  }
}
